---
#- name: Display all variables/facts known for a host
# ansible.builtin.debug:
#   var: hostvars[inventory_hostname]


- name: rabbitmq_ha_config | install rabbitMQ admin
  shell: wget http://guest:guest@localhost:15672/cli/rabbitmqadmin

- name: rabbitmq_ha_config | moving the rabbitMQ Admin
  shell: mv rabbitmqadmin /usr/sbin

- name: rabbitmq_ha_config | making executable rabbitMQ Admin
  shell: chmod +x /usr/sbin/rabbitmqadmin
  notify: restart rabbitmq-server

- name: rabbitmq_ha_config | creating queue(s)
  command: "rabbitmqadmin declare queue name={{ rabbitmq_queue_name }} {{ irabbitmq_durable }}"
  run_once: true

- name: rabbitmq_ha_config | setting up ha on queue(s)
  rabbitmq_policy: name='ha-all' pattern='{{ rabbitmq_queue_name }}' tags="{{ rabbitmq_tags }}" state=present
  run_once: true

- name: rabbitmq_ha_config | creating exchange(s)
  command: rabbitmqadmin declare exchange name={{ rabbitmq_exchange_name }} type={{ rabbitmq_type }}
  run_once: true

- name: rabbitmq_ha_config | creating binding(s)
  command: rabbitmqadmin declare binding source={{ rabbitmq_exchange_name }} destination_type="queue" destination={{ rabbitmq_queue_name }} routing_key={{ rabbitmq_routing_key }}
  run_once: true

