- name: Install repo from oracle
  shell: "rpm -ivh https://dev.mysql.com/get/mysql80-community-release-el8-1.noarch.rpm || echo 'already installed' "

- name: redhat | Install tools on target servers
  ansible.builtin.package:
    name:  '{{ item  }}'
    state: present
  with_items:
    - "socat"
    - "logrotate"
    - "wget"
    - "python3"
    - "mysql80-community"
  become: True

