# Run the repo setup from maria db

- name: redhat | add the mariadb repos
  shell: curl -1sLf 'https://downloads.mariadb.com/MariaDB/mariadb_repo_setup' | sudo -E bash
  become: True

- name: redhat | Install tools on target servers
  ansible.builtin.package:
    name:  '{{ item  }}'
    state: present
  with_items:
    - python3
    - libaio
    - libpmem
    - perl-Carp 
    - perl-DBI  
    - perl-Data-Dumper 
    - perl-Digest   
    - perl-Digest-MD5
    - perl-Encode  
    - perl-Errno     
    - perl-Exporter  
    - perl-File-Path 
    - perl-File-Temp  
    - perl-Getopt-Long   
    - perl-HTTP-Tiny     
    - perl-IO         
    - perl-MIME-Base64   
    - perl-Math-BigInt    
    - perl-Math-Complex   
    - perl-Net-SSLeay    
    - perl-PathTools      
    - perl-Pod-Escapes      
    - perl-Pod-Perldoc   
    - perl-Pod-Simple      
    - perl-Pod-Usage     
    - perl-Scalar-List-Utils     
    - perl-Socket     
    - perl-Storable      
    - perl-Term-ANSIColor
    - perl-Term-Cap           
    - perl-Text-ParseWords      
    - perl-Text-Tabs+Wrap    
    - perl-Time-Local       
    - perl-URI          
    - perl-Unicode-Normalize       
    - perl-constant     
    - perl-interpreter     
    - perl-libnet        
    - perl-libs       
    - perl-macros     
    - perl-parent    
    - perl-podlators      
    - perl-threads   
    - perl-threads-shared  
    - perl-IO-Socket-IP        
    - perl-IO-Socket-SSL         
    - perl-Mozilla-CA    
  become: True

- name: Install rabbit from the right source
  yum:
    name:  [ "mariadb-server", "mariadb-common", "mariadb-backup" ]
    disablerepo: "*"
    enablerepo: "mariadb-*"

- name:
  ansible.builtin.template:
    src: server.cnf.j2
    dest: /etc/my.cnf.d/server.cnf
    owner: root
    group: root
    mode: '0640'


- name:
  ansible.builtin.template:
    src: mysqld.service.j2
    dest: /etc/systemd/system/mysqld.service
    owner: root
    group: root
    mode: '0640'