# Run the repo setup from maria db
- name: redhat | add the mariadb repos
  shell: curl -1sLf 'https://downloads.mariadb.com/MariaDB/mariadb_repo_setup' | sudo -E bash
  become: True

- name: redhat | Install tools on target servers
  ansible.builtin.package:
    name:  '{{ item  }}'
    state: present
  with_items:
    - python3
  become: True

- name: Install rabbit from the right source
  yum:
    name:  [ "mariadb-server", "mariadb-common", "mariadb-backup" ]
    disablerepo: "*"
    enablerepo: "mariadb-*"

- name:
  ansible.builtin.template:
    src: roles/ansible-role/server.cnf.j2
    dest: /etc/my.cnf.d/server.cnf
    owner: root
    group: root
    mode: '0640'

