{
    "extensions": {
        "enabled": [
            "python_venv",
            "blocks"
        ]
    },
    "core": {
        "group": "Application/System",
        "license": "MIT",
        "name": "openstack-{{ _ansible_item_label.name   }}-{{ i_ansible_item_label.version.split("/")[1] }}-venv",
        "summary": "Compiled stein openstack environment for {{ _ansible_item_label.name }} ",
        "version": "1.0.0"
    },
    "python_venv": {
        "name": "openstack_{{ _ansible_item_label.name  }}_{{ _ansible_item_label.version.split("/")[1] }}",
        "path": "/var/lib/openstack/venv/{{ _ansible_item_label.name }}/{{ _ansible_item_label.version }}/venv/"
    },
    "blocks": {
        "desc": [
            "Virtual environment for Openstack {{ _ansible_item_label.name }} {{ _ansible_item_label.version }}",
            "-----------------------------------------------",
            "This is a compiled version of the Openstack {{ _ansible_item_label.name }} component",
            "",
	    "BLABLABLABL"
        ]
    }
}

